* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --color-green: #00e311;
    --color-black : #000;
    --color-white : #fff;
    --color-pink: #FA00FF;
    --color-blue: #2400FF
}

body {
    font-family: 'Inter', sans-serif;
}

.ticker {
  
    height: 20px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: var(--color-green);
    white-space: nowrap;
    display: flex;
    align-items: center;
    
}
.ticker-top {
      top: 0;
    z-index: 3;
}
.ticker-right {
    width: 100vh;
    position: absolute;
    left: 100%;
    transform-origin: top left;
    transform: rotate(90deg);
    top: 0px;

}

.ticker-left {
    width: 100vh;
    position: absolute;
    left: 0;
    transform-origin: left bottom;
    transform: rotate(90deg);
    top: -20px;
    z-index: 10;

}
.ticker__text-1 {
    width: 200%;
    height: 30px;
    position: absolute;
    overflow: hidden;
    animation-name: marquee1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: flex;
    align-items: center;


}

.ticker__text-2 {
    width: 200%;
    height: 30px;
    position: absolute;
    overflow: hidden;
    animation-name: marquee2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: flex;
    align-items: center;

}

.header {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;   
    background-image:  url('images/godzilla.gif'), url('images/header.png');
    background-repeat: no-repeat, no-repeat;
    background-size: auto, cover;
    background-position-y: bottom, center;
    background-position-x: right, center;
}

.ticker__text-emph {
    font-weight: bold;
}

.ticker__text-curs {
    font-style: italic;
    font-weight: small;
}

.header__logo {
    margin-top: 2em;
    min-width:  20%;
    max-width: 50%;
    align-self: center;

}
.header__title {
    font-size: 2em;
    margin-top: 2em;
    min-width:  20%;
    max-width: 70%;
    align-self: center;
    color: var(--color-white);
    background-image: url('images/hitmarker.gif');
    background-size: 200px 100px;
    margin-bottom: 2em;
}
.header__images{
    text-align: right;
    position: relative;
    border: 5px solid red;
}
.header__images__baby{
    transform: rotate(10deg);
    z-index: 0;
    width: 100px
}
.header__images__welcome{
    width: 160px;
    z-index: 9999;
}
.header__images__globe{
    width: 100px;

}
.header__images__spaceship{
    width: 20vw;
}

.header__images__alien{

}

.header__title span{
    color: black;
	font-size: 34px;
	-webkit-text-stroke: 1px var(--color-white);
	-webkit-text-fill-color: transparent;
}

.receptuur {
    background-color: var(--color-pink);
    font-size: 0.9em;

}

.receptuur h2 {
    color: white;
    line-height: 0.8em;
    margin-bottom: 0.5em;
}

.receptuur__images {
    text-align: center;
    height: 80px;
    position: relative;
}

.receptuur__images__buick{
    position: relative;
    width: 180px;
    top: -80px;
    z-index: 9999;
}

.receptuur__images__deanmartin {
    position: absolute;
    width: 20vw;
    max-width: 200px;
    top: -29px;
    right: 0;
    z-index: 9998;
}

.receptuur__cheeze {
    background-image: url(../images/pizzacheeze.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1em
}

.receptuur__links {
    font-size: 2em;
    font-family: 'Faster One', cursive;
    padding: 1em 2em 4em 2em;
}

.receptuur__links ul {
    list-style-type: none;
}

.receptuur__links ul a{
    color: var(--color-blue);
    text-decoration: none;
}

.receptuur__counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.receptuur__counter img {
    max-width: 100px;
}


.rulezzz {
    background-image: url("../images/fish2.gif"), url("../images/fish1.gif"), url("../images/shell.gif"), url("../images/bubbles.gif"),  url("../images/water.jpg");
    background-position: 30px 30%, 30px center,  20px bottom, 90% center, center center;
    background-size: auto, auto, auto, auto, cover;
    background-repeat: no-repeat;
    padding: 2em;
}

.rulezzz__title {
    text-align: center;
}

.rulezzz__text {
    color: var(--color-pink);
    text-align: right;
    font-weight: bold;
    font-style: italic;
    list-style: none;
    line-height: 1.5em;
}

.rulezzz__title img {
    max-width: 300px;
}

.myCanvas{
    position: relative;
    top: -500px;
    left: -1em;
}

@keyframes marquee1 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes marquee2 {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@media(max-width: 600px) {
    .hidden-mobile {
        display: none;
    }
}